.site-wrapper {
    font-family: 'Open Sans', sans-serif;
}

.container {
    max-width: 1169px;
    margin: 0 auto;
}


.header {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 445px;
    color: #ffffff;
    background: linear-gradient(0deg, rgba(55, 55, 55, 0.5), rgba(55, 55, 55, 0.5)), url('./img/header-bg.jpeg') no-repeat fixed center center / cover;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1d2124;
}

.header-logo, .menu-link {
    text-decoration: none;
    color: #ffffff;
}

.header-logo {
    display: flex;
    align-items: center;
    font-size: 22px;
    font-weight: 700;
}

.logo-img {
    padding: 22px;
    background: #1a1d20;
}

.logo-text {
    display: inline-block;
    margin-left: 6px;
}

.nav-menu {
    display: flex;
    width: 704px;
    justify-content: space-between;
    font-size: 15px;
    text-transform: uppercase;
}

.button__search {
    background: #1a1d20;
    padding: 25px;
    border: none;
    color: #ffffff;
    font-size: 17px;
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.header-title {
    font-size: 27px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.btn {
    display: inline-block;
    width: 170px;
    padding: 20px 0;
    border: none;
    color: #ffffff;
    font-size: 18px;
    border-radius: 3px;
}

.btn__subscribe {
    background: #89ca62;
    margin-right: 20px;
}

.btn__best {
    background: #14b9d5;
}

.section-heading {
    padding: 60px 0 50px;
    text-align: center;
    font-size: 27px;
    font-weight: 700;
    color: #18b4cf;
    text-transform: uppercase;
}

.posts {
    background: #f2f2f2;
}

.posts-gallery {
    display: flex;
    flex-flow: column wrap;
    align-content: space-between;
    max-height: 850px;
    padding-bottom: 72px;
}

.gallery-card {
    display: block;
    margin-bottom: 32px;
    text-align: center;
    background: #ffffff;
    color: #353a3d;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
}

.gallery-card:nth-child(6) {
    margin-bottom: 0;
}

.card-image, .card-caption {
    display: block;
}

.card-caption {
    padding: 20px 0;
}

.clients {
    background: url(./img/clients-bg.jpeg) no-repeat fixed center center / cover;
    /*height: 588px;*/
}

.clients-heading {
    padding-top: 200px;
    color: #ffffff;
    position: relative;
}

.clients-heading:after {
    content: '';
    position: absolute;
    display: block;
    width: 60px;
    height: 3px;
    background: #169cb4;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.clients-gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 76px;
    justify-items: center;
    justify-content: center;
    width: 881px;
    margin: 0 auto;
    padding: 60px 0 200px;
}

.clients-item {
    align-self: center;
    justify-self: center;
}

.top-gallery {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.top-img {
    width: 100%;
    object-fit: contain;
}

.news-list {
    display: grid;
    grid-template-columns: 1fr 35px 1fr 60px 1fr 35px 1fr;
    grid-template-rows: 260px 418px 418px 260px;
    row-gap: 42px;
    grid-template-areas: "one one one one one . two" "three three three . four four four" "five five five . six six six" "seven . eight eight eight eight eight";
    margin-bottom: 70px;
}

.news-item {
    /*border: 1px solid rgba(0, 0, 0, 0.57);*/
}

.news-item__one {
    grid-area: one;
}


.news-item__two {
    grid-area: two;
}

.news-item__three {
    grid-area: three;
}

.news-item__four {
    grid-area: four;
}

.news-item__five {
    grid-area: five;
}

.news-item__six {
    grid-area: six;
}

.news-item__seven {
    grid-area: seven;
}

.news-item__eight {
    grid-area: eight;
}

.news-thumb {
    background: #f9f7f7;
}

.news-thumb__large {
    display: grid;
    grid-template-columns: 483px auto;
}

.news-thumb__small {
    display: grid;
    grid-template-rows: 210px 48px;
}

.news-thumb__med {
    display: grid;
    grid-template-rows: 259px 159px;
}

.news-link {
    color: #5b6469;
    text-decoration: none;
}

.article-content {
    align-self: center;
    text-align: right;
    padding: 0 27px;
}

.news-heading {
    color: #353a3d;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 22px;
}

.news-heading:only-child {
    margin-bottom: 0;
    text-align: center;
}

.news-description {
    font-size: 14px;
    line-height: 21px;
}

.footer {
    background: #1d2124;
}

.footer .container {
    display: grid;
    grid-template-columns: auto 120px;
    grid-template-rows: 80px;
    align-items: center;
}

.copyright .liot-link {
    align-self: center;
}

.copyright {
    color: #ffffff;
    font-size: 13px;
}

.liot-link {
    text-align: right;
}

.posts .container {
    position: relative;
}


.btn-slide {
    position: absolute;
    top: 46px;
    right: 350px;
    font-size: 45px;
    color: #14b9d5;
    cursor: pointer;
    transition: all .2s;
}

.btn-slide:hover {
    top: 56px;
    color: #1099b0;
}

.btn-up {
    position: fixed;
    width: 50px;
    padding-bottom: 10px;
    background: #14b9d5;
    color: #f2f2f2;
    font-size: 40px;
    text-align: center;
    bottom: 20px;
    right: 20px;
    border: none;
    outline: none;
    display: none
}


